@keyframes entrada {
    from{
        opacity: 0;
        margin-right: 50%;
    }
    to{
        opacity: 1;
        margin-right: 0%;
    }
}

.principal__pix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin: 5em 0;

}

.principal__pix img{
    height: 16rem;
    margin-top: 5rem;
    animation: entrada 1s ease-in-out forwards;
}

.principal__pix h1{
    font-size: 32px;
    margin-top: 2rem;
    animation: entrada 1s ease-in-out forwards;
}